{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="row vh-100">
    
    <!-- Left Panel: Still Contacts -->
    <div class="col-md-4 bg-light border-end p-3">
      <h4>{{ user.username }}</h4>
      <div class="search-container">
        <form action="/search" method="GET" class="search-form">
            <input type="text" name="search" id="search" placeholder="Search NobHUB" >
            <button type="submit" class="btn btn-primary mb-3">🔎</button>
        </form>
        </div>
      <h5>Contacts</h5>
     
      <ul class="list-group">
         {% for contact in contacts %}
        <a href="/chat/{{ contact.id }}"><li class="list-group-item active">{{ contact.contact_name }}</li></a>
        {% endfor %}
      </ul>
      
    </div>

    <!-- Right Panel: Chat Area -->
    <div class="col-md-8 d-flex flex-column">
      
      <!-- Chat Header -->
      <div class="border-bottom p-3">
        <h5>Chat with {{user_to_chatwith.username}}</h5>
      </div>

      <!-- Chat Body -->
       {% if messages %}
       <div class="flex-grow-1 overflow-auto p-3" style="background-color:#f8f9fa;">
       {% for message in messages %}
  <div>
    <strong>
      {% if message.user_id== user.id%}
        Me: 
        {% endif %}
      {%if message.user_id == user_to_chatwith.id %}
       
        {{ user_to_chatwith.username}}:
        {% endif %}
    </strong>
      [ {{ message.message }} ]|<small>{{ message.time.strftime('%Y-%m-%d %H:%M') }}</small>
  </div>
{% endfor %}
         
         
        </div>
 
        {% else %}
        <div class="flex-grow-1 overflow-auto p-3" style="background-color:#f8f9fa;">
        
        <p>No Messages yet. </p>
         
         
        </div>
      
             {% endif %}
      <!-- Chat Input -->
      <form action="/chat/{{ contact.id }}" method="POST" class="p-3 border-top d-flex">
        <input type="text" name="user_message" class="form-control me-2" placeholder="Type a message..." required oninvalid="this.setCustomValidity('Can\'t send empty message')" oninput="this.setCustomValidity('')">
        <button type="submit" class="btn btn-success">Send</button>
      </form>

    </div>

  </div>
</div>
{% endblock %}
