{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="sidebar">

    <div class="app-header">
      <h2>NobHUB</h2>
    </div>

    <div class="profile">
      <img src="{{url_for('static', filename=user.user_image_path)}}" class="profile-pic" alt="Profile Picture">
        <h4 class="username">{{ user.username }}</h4>
    </div>
      
    <div class="nav-buttons">
      <a href="/profile"><ion-icon name="person"></ion-icon></a>
      <a href="/edit_profile"><ion-icon name="pencil"></ion-icon></a>
      <a href="/logout"><ion-icon name="arrow-back"></ion-icon></a>
    </div>
    
    </div>
    
    <!-- Left Panel: Contacts & Buttons -->
      <div class="sidebar-middle">
        
      <form action="/search" method="GET" class="search-bar">
      <input type="text" name="search" id="search" placeholder="Search NobHUB" >
      <button type="submit"><ion-icon name="search-outline" class="search-outline"></ion-icon></button>
      </form>
            

    <div class="contact-list">
      <div class="contact-header">
        <p>Contacts</p>
      </div>
    

  {% for contact in contacts %}
    <div class="contacts">
      <img src="{{ url_for('static', filename=contact.contact_image_path) }}" class="contact-proile-pic", alt="Contact Profile Picture">
  {% if contact.contact_name in ['N.O.B', 'Dennis'] %}
        <a href="/chat/AI/{{ contact.id }}"><p>{{contact.contact_name}}</p></a>
        {% else %}
        <a href="/chat/{{ contact.id }}"><p>{{contact.contact_name}}</p></a>
  {% endif %}
    </div>
  {% endfor %}
    </div>
  </div>
    <!-- Right Panel: Empty Chat View -->
    <div class="chat-area">
    
      <div class="chat-messages whitish-text center-div">
        <p>Select a contact to start chatting 💬</p>
      
        <small>Your messages are encrypted😁</small>
      </div>
      
  </div>
</div>


{% endblock %}
