{% extends 'base.html' %}

 {%block body %} 
 {% if error %}
 <ul>
    <li>{{error}}</li>
 </ul>
 {% endif %}
 <div class="content">
<form method="post">
<div class="">
<label for="">Name: </label>
<input type="text" name="name" value="{{name}}">
</div>
<div class="d">
<label for="">Room: </label>
<input type="text" name="code" id="" value="{{code}}">
</div>
<button type="submit" name="join">JOIN ROOM</button>
<button type="submit" name="create"> CREATE ROOM</button>
</form>


 </div>
 {% endblock %} 