{% extends 'form.html' %}
{% block title%}NobHUB Login{% endblock %}
{% block body %}

<div class="content">
    <div class="action-container">
        <a href="/signup" class="btn back-btn">Back</a>
    </div>
    <h1 class="title">Login</h1>

  
    <div class="form-container">
        <div class="form-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
        
            <div class="form-container" style="color: rgb(89, 193, 201)">
                {{messages[0] }}
            
            </div>
            {% endif %}
        {% endwith %}
    
        <form action="" method="POST" class="task-form">
            <!-- <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="password" placeholder="Username" class="task-input" required oninvalid="this.setCustomValidity('Username is required')" oninput="this.setCustomValidity('')">
             -->
            {{ login_form.hidden_tag() }}
                {{login_form.username.label(for="username", class="form-label")}} 
                    {{ login_form.username(class="task-input", id="password", placeholder="Username", class="task-input", oninvalid="this.setCustomValidity('Username is required')", oninput="this.setCustomValidity('')")}}
                {% for error in login_form.username.errors %}
                <div class="form-container" style="color: rgb(89, 193, 201)">
                    {{ error }}
                </div>
                {% endfor %}

                {{login_form.user_password.label(for="password0", class="form-label")}} 
                    {{ login_form.user_password(class="task-input", id="password", placeholder="PassWord", class="task-input", oninvalid="this.setCustomValidity('PassWord is required')", oninput="this.setCustomValidity('')")}}
                    {% for error in login_form.user_password.errors %}
                    <div class="form-container" style="color: rgb(89, 193, 201)">
                    {{ error }}
                </div>
                {% endfor %}
            {{ login_form.submit(class="btn add-btn")}}
            <!-- <label for="password0" class="form-label">PassWord</label>
            <input type="password" name="password0" id="password" placeholder="PassWord" class="task-input" required oninvalid="this.setCustomValidity('PassWord is required')" oninput="this.setCustomValidity('')">
             -->
            
            <!-- <button type="submit" class="btn add-btn"> GO </button> -->
        </form>
        
    </div>
    

</div>

{% endblock %}