{% extends 'form.html' %}
{% block title%}NobHUB Login{% endblock %}
{% block body %}

<div class="content">
    <div class="action-container">
        <a href="/signup" class="btn back-btn">Back</a>
    </div>
    <h1 class="title">Login</h1>

  
    <div class="form-container">
        <div class="form-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
        
            <div class="form-container" style="color: rgb(89, 193, 201)">
                {{messages[0] }}
            
            </div>
            {% endif %}
        {% endwith %}
    
        <form action="" method="POST" class="task-form">
            <!-- <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="password" placeholder="Username" class="task-input" required oninvalid="this.setCustomValidity('Username is required')" oninput="this.setCustomValidity('')">
             -->
            {{ login_form.hidden_tag() }}
                {{login_form.username.label(for="username", class="form-label")}} 
                    {{ login_form.username(class="task-input", id="username", placeholder="Username", class="task-input", oninvalid="this.setCustomValidity('Username is required')", oninput="this.setCustomValidity('')")}}
               
            
            
            {{login_form.user_password.label(for="password0", class="form-label")}} 
            <div class="password">
                <input type="checkbox" id="togglePassword" class="password-toggle">
                <label for="togglePassword" class="toggle-eye open">
                    <ion-icon name="eye-outline"></ion-icon>
                </label>
                <label for="togglePassword" class="toggle-eye close">
                    <ion-icon name="eye-off-outline"></ion-icon>
                </label>
                    {{ login_form.user_password(class="task-input", id="password0", placeholder="PassWord", class="task-input", oninvalid="this.setCustomValidity('PassWord is required')", oninput="this.setCustomValidity('')")}}
                </div> 
            {{ login_form.submit(class="btn add-btn", id="login-btn")}}
              
            <!-- <label for="password0" class="form-label">PassWord</label>
            <input type="password" name="password0" id="password" placeholder="PassWord" class="task-input" required oninvalid="this.setCustomValidity('PassWord is required')" oninput="this.setCustomValidity('')">
             -->
            
            <!-- <button type="submit" class="btn add-btn"> GO </button> -->
             <input type="button", value="Sign-in with Google", class="btn add-btn" onclick="window.location.href='/login/google'">
        </form>
        
    </div>
    

</div>

{% endblock %}
{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const toggle = document.getElementById('togglePassword');
    const password = document.getElementById('password0');
    const password1 = document.getElementById('password1');
    const eyeOpen = document.querySelector('.toggle-eye.open');
    const eyeClose = document.querySelector('.toggle-eye.close');

    function updateEye() {
        if (password.type === 'password') {
            eyeOpen.style.display = 'block';
            eyeClose.style.display = 'none';
        } else {
            eyeOpen.style.display = 'none';
            eyeClose.style.display = 'block';
        }
       
    }

    toggle.addEventListener('change', function() {
        if (toggle.checked) {
            password.type = 'password';
            
        } else {
            password.type = 'text';
            
        }
        updateEye();
    });

    // Initialize eye icons
    updateEye();
});
</script>
{% endblock %}