{% extends 'form.html' %}
{% block title%}NobHUB Profile{% endblock %}
{% block body %}

<div class="content">
    <div class="nav-buttons">
      <a href="/home"><ion-icon name="arrow-back"></ion-icon></a>
    </div>
    <h1 class="title">Profile</h1>
    
    <div class="form-container">
      <div class="side-by-side">
        <img src="{{url_for('static', filename=user.user_image_path)}}" class="profile-pic" alt="profilePic">
        <div class="nav-buttons">
        <a href="/edit_profile" class=""><ion-icon name="pencil" class="brand-clr-b"></ion-icon></a>
        </div>
        </div>
    <form action="" method="POST" class="task-form" enctype="multipart/form-data">
            <label for="username" class="form-label brand-clr-b">Username</label>
            <!-- <input type="text" name="username" id="username" placeholder="username" class="task-input" required oninvalid="this.setCustomValidity('Username is required')" oninput="this.setCustomValidity('')"> -->
                <label>{{ user.username }}</label>
            <label for="user_email" class="form-label brand-clr-b">Email</label>
            <!-- <input type="email" name="user_email" id="user_email" placeholder="Email" class="task-input" required oninvalid="this.setCustomValidity('Email is required')" oninput="this.setCustomValidity('')"> -->
                <label>{{ user.user_email }}</label>
    
            <label for="number" class="form-label brand-clr-b">Phone Number</label>
            <label>{{ user.user_number }}</label>
        </form>
    </div>  
    </div>
    

</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const toggle = document.getElementById('togglePassword');
    const password = document.getElementById('password0');
    const password1 = document.getElementById('password1');
    const eyeOpen = document.querySelector('.toggle-eye.open');
    const eyeClose = document.querySelector('.toggle-eye.close');

    function updateEye() {
        if (password.type === 'password') {
            eyeOpen.style.display = 'block';
            eyeClose.style.display = 'none';
        } else {
            eyeOpen.style.display = 'none';
            eyeClose.style.display = 'block';
        }
        if (password1.type === 'password') {
            eyeOpen.style.display = 'block';
            eyeClose.style.display = 'none';
        } else {
            eyeOpen.style.display = 'none';
            eyeClose.style.display = 'block';
        }
    }

    toggle.addEventListener('change', function() {
        if (toggle.checked) {
            password.type = 'password';
            password1.type = 'password';
        } else {
            password.type = 'text';
            password1.type = 'text';
        }
        updateEye();
    });

    // Initialize eye icons
    updateEye();
});
</script>

{% endblock %}