{% extends 'base.html' %}

{% block body %}
<div class="">
   <div class="">
       <div class="search-container">
            <form action="/search" method="GET" class="search-bar">
            <input type="text" name="search" id="search" placeholder="Search NobHUB" >
            <button type="submit"><ion-icon name="search-outline" class="search-outline"></ion-icon></button>
        </form>
        </div>
       
        <div class="contact-list">
      
          <div class="contacts">
         {% if users %}
          {% for user in users %}
                  <img src="{{url_for('static', filename=user.user_image_path)}}" class="profile-pic" alt="profilePic">
                  <a href=""><p>{{user.username}} </p></a>
           <a href="/add/{{user.id}}"><button class="btn add-btn">➕ Add Contact</button></a>    
        {% endfor %}  
        
      </div>
      {%else%}
        <p> '{{ users_to_find}}' not found</p>
        {% endif %}
    </div>
  </div>
  </div>
{% endblock %}